{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-react-jsx",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
      // "decoratorsBeforeExport": false
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["import", {
      "libraryName": "antd", "style": "css"
    }],
    ["import", {
      "libraryName": "lodash",
      "libraryDirectory": "",
      "camel2DashComponentName": false
    }, "lodash"]
  ],
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-react"
  ],
  "comments": false,
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
