.ant-form-horizontal.dna-basic-form {
  .ant-form-item{
    .ant-form-item-label{
      width: 100px;
    }
    .ant-form-item-control-wrapper{
      position: absolute;
      display: inline-block;
      width: 200px;
    }
  }
}