.form-region {
  margin: 0 24px;
  .ant-form-item {
    .ant-form-item-label {
      line-height: 45px;
    }
  }
  .ant-form-item-control-wrapper {
    vertical-align: middle;
    .ant-form-explain {
      font-size: 12px;
    }
  }
  .region-header {
    .region-title {
      font-size: 16px;
      color:#333333;
      padding: 28px 0 16px;
      font-weight:  bold;
    }
  }
  .triple {
    .ant-form-item {
      margin-right: 26px;
      margin-bottom: 0;
      display: inline-block;
      .ant-form-item-label {
        width: 100px;
        display: inline-block;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
        width: 224px;
        display: inline-block;
      }
    }
  }
  .single {
    .ant-form-item {
      margin-bottom: 0;
      display: flex;
      .ant-form-item-label {
        width: 100px;
        display: inline-block;
      }
      .ant-form-item-control-wrapper {
        display: inline-block;
        width: 80%;
        max-width: 800px;
      }
    }
  }
  .single1100 {
    .ant-form-item {
      margin-bottom: 0;
      display: flex;
      width: 1100px;
      .ant-form-item-label {
        width: 100px;
        display: inline-block;
      }
      .ant-form-item-control-wrapper {
        display: inline-block;
        flex: 1;
      }
    }
  }
  .flow {
    display: flex;
    .ant-form-item {
      margin-bottom: 0;
      .ant-form-item-label {
        width: 100px;
        display: inline-block;
      }
      .ant-form-item-control-wrapper {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

// TODO: 硬兼容，需要处理
.form-region {
  .llf-adapter {
    margin-top: 7px;
    width: 570px;
    .ant-form-item-label{
      position: relative;
      top: -9px;
    }
  }
}